// что бы не создавать много файлов scss я забросил классы типа секция,
// контейнер и тд в scss _about.scss,
// основные стили начинаются с .about

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}
// 480+
@media screen and (min-width: 480px) {
  .conteiner {
    width: 450px;
    margin: 0 auto;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    text-align: center;
  }
  .about-img-list {
    display: flex;

    margin-right: -30px;
  }
  .about-img-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    align-items: center;
    margin-bottom: 50px;
  }
  .about-img-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  .about-overlay {
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
  }
}
