:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --back-up-accent-color:#188CE8;
    --hero-text-color:#FFFFFF;
    --site-nav-bg-color:#FFFFFF;
    --page-bg-color:#E5E5E5;
    --hero-footer-bg-color:#2F303A;
    --team-bg-color:#F5F4FA;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --icon-fill: #AFB1BB;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}