<section class="section">
  <!-- постоянные клиенты -->
  <div class="container">
    <h2 class="second-title">Постоянные клиенты</h2>
    <ul class="clients-list">
      <li class="clients-list-item">
        <a href="" class="clients-list-link">
          <svg class="clients-list-icon" width="40px" height="46px">
            <use href="./images/icons.svg#icon-group"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list-item">
        <a href="" class="clients-list-link">
          <svg class="clients-list-icon" width="40px" height="52px">
            <use href="./images/icons.svg#icon-group1"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list-item">
        <a href="" class="clients-list-link">
          <svg class="clients-list-icon" width="43px" height="41px">
            <use href="./images/icons.svg#icon-group2"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list-item">
        <a href="" class="clients-list-link">
          <svg class="clients-list-icon" width="84px" height="40px">
            <use href="./images/icons.svg#icon-group3"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list-item">
        <a href="" class="clients-list-link">
          <svg class="clients-list-icon" width="62px" height="45px">
            <use href="./images/icons.svg#icon-group4"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list-item">
        <a href="" class="clients-list-link">
          <svg class="clients-list-icon" width="93px" height="43px">
            <use href="./images/icons.svg#icon-group5"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
