 <!--Преимущества-->
      <section class="section feature">
        <div class="container feature__container">
          <h2 class="visually-hidden">Преимущества</h2>
          <ul class="list feature__list">
            <li class="item feature__item">
              <div class="feature__thumb-icon">
                <svg class="icon feature__icon" width="70px" height="70px">
                  <use href="./img/icons.svg#icon-antenna"></use>
                </svg>
              </div>
              <h3 class="section__subtitle feature__title">
                Внимание к деталям
              </h3>
              <p class="text feature__text">
                Идейные соображения, а также начало повседневной работы по
                формированию позиции.
              </p>
            </li>
            <li class="item feature__item">
              <div class="feature__thumb-icon">
                <svg class="icon feature__icon" width="70px" height="70px">
                  <use href="./img/icons.svg#icon-clock"></use>
                </svg>
              </div>
              <h3 class="section__subtitle feature__title">Пунктуальность</h3>
              <p class="text feature__text">
                Задача организации, в особенности же рамки и место обучения
                кадров влечет за собой.
              </p>
            </li>
            <li class="item feature__item">
              <div class="feature__thumb-icon">
                <svg class="icon feature__icon" width="70px" height="70px">
                  <use href="./img/icons.svg#icon-diagram"></use>
                </svg>
              </div>
              <h3 class="section__subtitle feature__title">Планирование</h3>
              <p class="text feature__text">
                Равным образом консультация с широким активом в значительной
                степени обуславливает.
              </p>
            </li>
            <li class="item feature__item">
              <div class="feature__thumb-icon">
                <svg class="icon feature__icon" width="70px" height="70px">
                  <use href="./img/icons.svg#icon-astronaut"></use>
                </svg>
              </div>
              <h3 class="section__subtitle feature__title">
                Современные технологии
              </h3>
              <p class="text feature__text">
                Значимость этих проблем настолько очевидна, что реализация
                плановых заданий.
              </p>
            </li>
          </ul>
        </div>
      </section>
