<footer class="footer">
  <div class="container">
    <div class="footer-block">
      <div class=".footer-contacts">
        <a href="./index.html" lang="en" class="logo footer__logo link">
          Web
          <span class="logo__text footer__logo--white">Studio</span>
        </a>
        <address class="address">
          <ul class="footer-contact__list list">
            <li class="footer-contact__item">
              <a
                href="https://goo.gl/maps/t8EjhzHjhEVSywwh8"
                target="_blank"
                rel="noopener noreferre"
                class="footer-contact__link link"
              >
                г. Киев, пр-т Леси Украинки, 26
              </a>
            </li>
            <li class="footer-contact__item">
              <a href="mailto:info@devstudio.com" class="footer-contact__mailto link">
                info@devstudio.com
              </a>
            </li>
            <li class="footer-contact__item">
              <a href="tel:+380961111111" class="footer-contact__tel link">
                +38 096 111 11 11
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-social">
        <p class="footer__text">присоединяйтесь</p>
        <ul class="social__list social-list__footer list">
          <li class="social-list__item">
            <a href="" class="social-list__link link">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link link">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link link">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link link">
              <svg class="social-list__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <form class="mailings" name="mailings">
      <p class="footer__text">Подпишитесь на рассылку</p>
      <div class="footer__label-flex">
        <label class="footer__label">
          <input type="email" class="footer__input" name="mail" placeholder="E-mail" />
        </label>
        <button class="footer__btn" type="submit">
          Подписаться
          <svg class="footer__btn-icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</footer>
